body {
	width: 1024px;
	margin: 0 auto;
}

.content {
	margin-top: 30%;
}

.content > div {
    font-family: cursive;
	text-align: center;
	margin:0 20px;
	width: 27%;
	display: inline-block;
	padding:10px;
}

img {
    padding: 10px;
}

.read-more {
    color: #fff;
    font-size: 14px;
    padding: 10px;
    text-decoration: none;
		background-color:#940300;
		display: block;
		opacity: 0.8;
		position: relative;
		/* This info affects transition */
		transition-duration: 1s;
		transition-property: opacity, background-color, box-shadow;
		transition-delay: .2s, .3s 0s,

}

.btn-icon {
	opacity: 0;
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url('./download.svg');
	position: absolute;
	left: 45%;
	top: 27%;
	/* Transition affects */
	/*transition-delay: 800ms;
	transition-duration: 1000ms;
	transition-property: opacity, left;
	transition-timing-function: ease-in; */
	/* Written in one line */
	transition:left 1000ms 800ms ease-in, opacity 1000ms 800ms ease-in;

}

.read-more:hover {
	background-color: blue;
	box-shadow: 0 0 0 3px rgba(255,255,255,.7);
}

.read-more:hover .btn-icon{
	left: 80%;
	opacity: 1;

}
