body {
	width: 1024px;
	margin: 0 auto;
}

.content {
	margin-top: 30%;
}

.content > div {
    font-family: cursive;
	text-align: center;
	margin:0 20px;
	width: 27%;
	display: inline-block;
	padding:10px;
}

img {
    padding: 10px;
}

.read-more {
    color: #fff;
    font-size: 14px;
    padding: 10px;
    text-decoration: none;
	background-color:#940300;
	display: block;
	opacity: 0.8;
	position: relative;
	
}

.btn-icon {
	opacity: 0;
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url('./download.svg');
	position: absolute;
	left: 45%;
	top: 27%;
}

.read-more:hover{
	background-color: blue;
}
