body {
	width: 1024px;
	margin: 0 auto;
}

.buttons {
	text-align: center;
	text-transform: uppercase;
	margin-top: 30%;
}

.buttons a {
    color: #fff;
    font-family: tahoma;
    font-size: 24px;
    margin: 0 20px;
    padding: 20px 40px;
    text-decoration: none;
	background-color:#940300;
	transition-duration:1000ms;
}

#ready:hover {
	background-color: black;
	color: red;
}

#aim:hover {
	border-radius: 25px;
}

#fire:hover {
	opacity: .7;
}