body {
	font-family:tahoma;
}
h1,
h2,
h3 {
	text-transform: uppercase;
}
h2 {
	font-size: 20px;
	color: #4a89ca;
	font-weight: 600;
	margin: 0;
}
h3 {
	font-size: 18px;
	margin-top: 0;
}
p {
	font-size: 16px;
	line-height: 18px;
	margin: 0 0 1px;
}


.container {
	width: 1240px;
	background: #fff;
	margin: auto;
}
.main-header {
	text-align: center;
	padding: 2.8px 0;
}


.photo-container {
  display: inline-block;
  margin: 0 50px;
  text-align: center;
  width: auto;
}

.photo-container img {
 	max-width: 100%;
 	position: relative;
	z-index: 100;
}
.button {
	color: #fff;
	width: 75%;
	font-weight: 700;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 20px 0;
	border-radius: .5px;
	background: rgba(74,137,202, .8);
	margin:10px auto;
}

.photo {
	position: relative;
}

.photo-desc {
  background: #345d88 none repeat scroll 0 0;
  bottom: 4px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  right: 0;
  top: 0;
}


/* ================================= 
 Image 3D Transforms & Transitions
==================================== */



